[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
odmantic = "*"
fastapi = "*"
python-decouple = "*"
pyjwt = "*"
uvicorn = "*"
motor = "*"
bson = "*"
dnspython = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"
